<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px" mode="over">

            <p><button mat-button  (click)="pagina('inicio')">Inicio</button></p>
            <mat-divider></mat-divider>
            <p><button mat-button *ngIf="admin" (click)="pagina('salas')">Salas</button></p>
            <mat-divider *ngIf="admin"></mat-divider>
            <p><button mat-button *ngIf="!admin" (click)="pagina('reserva')">Reservar</button></p>
            <mat-divider *ngIf="!admin"></mat-divider>
            <p><button mat-button *ngIf="!admin" (click)="pagina('mis-reservas')">Mis Reservas</button></p>
            <mat-divider *ngIf="!admin"></mat-divider>
            <p><button mat-button *ngIf="admin" (click)="pagina('listado-usuario')">Usuarios</button></p>
            <mat-divider></mat-divider>
            <p><button mat-button *ngIf="admin" (click)="pagina('reservas-admin')">Reservas</button></p>
            <mat-divider></mat-divider>
            <p><button mat-button  (click)="pagina('contacto')">Contacto</button></p>
            <mat-divider></mat-divider>
            <p><button mat-button *ngIf="sesion" (click)="pagina('registrar-usuario')">Registrarme</button></p>
            <mat-divider></mat-divider>
            <p><button mat-button  (click)="pagina('sobre-nosotros')">Sobre Nosotros</button></p>
            <mat-divider></mat-divider>


            <button mat-button (click)="pagina('login')" 
                style="cursor: pointer; bottom: 5px; position: absolute;" *ngIf="sesion">
                <span>Iniciar sesion</span>
            </button>
            <button mat-button (click)="closeS()" 
                style="cursor: pointer; bottom: 5px; position: absolute;" *ngIf="!sesion">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar sesion</span>
            </button>

        </mat-sidenav>

        <mat-sidenav-content>

            <router-outlet></router-outlet>


        </mat-sidenav-content>

    </mat-sidenav-container>
</div>